.widget__footer {
  display: flex;
  flex-direction: column;
  background-color: #336699;
  padding: 21px 15px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.widget__footer-link {
  text-decoration: none;
  color: #ffffff;
}

.widget__promo-link {
  font-size: 14px;
  line-height: 18px;
  color: #336699;
  border: dashed 1px #336699;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 12px 15px;
  margin-bottom: 20px;
}

.widget__rules-link {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}

.widget__terms-link {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;
}
