.widget__header {
  position: relative;
  background-color: #2856a8;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.widget__title {
  margin: 0;
}

.widget__order-number {
  color: #f2d230;
}

